
@media (max-width: 768px) {
    .typewriter { 
        font-size: 30px;
     }
     #currentTime{
        font-size: 3em;
    }
}
@media (max-width: 576px) {
    .typewriter { 
        font-size: 24px; 
        left: 15px;
    }
    #currentTime{
        font-size: 2.5em;
    }
}
@media (max-width: 445px) {
    .typewriter { 
        font-size: 20px; 
        left: 10%;
    }
    #currentTime{
        font-size: 2em;
    }

}
@media (max-width: 322px) {
    .typewriter { 
        font-size: 16px; 
        left: 0%;
    }
    #currentTime{
        font-size: 2em;
    }

}